<div class="container">
    <header class="jumbotron" *ngIf="rayons" style="position: relative; margin-top: 2em; padding-left: 8%">
        <span class="text-center">
            <h2 class="mb-4" style="margin-top: -20px">Rayons 
                <span class="badge badge-pill badge-warning" *ngIf="rayons.length > 0" style="padding: 5px; border: 2px solid #000">
                    <span *ngIf="rayons?.length < 10">0</span>{{ rayons?.length }}
                </span>
            </h2>            
        </span>
        
        <select style="border: 1px solid #000" class="form-control col-xs-12 offset-md-2 col-md-8 mb-4 bg-transparent" #mySelect (change)="updateInsteadCategory(mySelect.value)">
            <option *ngFor="let categorie of categories" [ngValue]="categorie.id">{{ categorie.titre }}</option>
        </select>
        
        <ul class="list-group col-xs-12 offset-md-2 col-md-8 mb-5 bg-success" style="padding: 0;">
            <li class="list-group-item" *ngFor="let rayon of rayons | paginate: { itemsPerPage: 12, currentPage: p }" 
                style="padding: 0.5em; background-color: {{ rayon.couleur }}; border: 1px solid #282525">
                <a routerLink="/rayon/edit/{{rayon.id}}" class="text-primary" title="Modifier">
                    <span style="color: #000; font-weight: initial; ">
                        {{ rayon.titre }}
                    </span>

                    <span *ngIf="rayonsWithArticles[rayon.id]">                            
                        <span class="badge badge-warning" style="border: 1px solid #000">{{rayonsWithArticles[rayon.id]}}</span>
                    </span>                    
                </a>
                <span class="float-right">
                    <a href="#" class="text-danger" title="Supprimer">
                        <i class="fa fa-trash"></i>
                    </a>                    
                </span>
                <span class="float-right ml-1 mr-1">|</span>
                <span class="float-right">
                    <a routerLink="/rayon/edit/{{rayon.id}}" class="text-primary" title="Modifier">
                        <i class="fa fa-pencil"></i>
                    </a>
                </span> 
            </li>

            <li class="list-group-item text-center" *ngIf="rayons.length == 0" style="padding: 0.5em;">
                Aucun rayon enregistré.
            </li>

        </ul>

        <div class="text-center" style="position: absolute; bottom: 0; right: 0">
            <pagination-controls  (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </header>
    <header class="jumbotron" *ngIf="error">
        <p class="text-danger text-center"><b>Erreur : </b><i>{{ error }}</i></p>
      </header>
  </div>