<div class="container mt-4">
    <header class="jumbotron" *ngIf="notes" style="position: relative; margin-top: 2em; padding-left: 8%">
        <span class="text-center">
            <h2 class="mb-4" style="margin-top: -20px">Notes 
                <span class="badge badge-pill badge-warning" style="padding: 5px; border: 2px solid #000">
                    <span *ngIf="notes?.length < 10">0</span>{{ notes?.length }}
                </span>
                <br>
                <span class="badge badge-success" style="font-size: 16px; text-align: center; margin-top: 2em;">
                    <i class="fa fa-plus"></i> Ajouter
                </span>
            </h2>                  
        </span>
        <ul class="list-group col-xs-12 offset-md-2 col-md-8 mb-5">
            <li class="list-group-item" *ngFor="let note of notes | paginate: { itemsPerPage: 10, currentPage: p }" style="border: 1px solid #ccc">
                {{ note.titre }} 
                <span class="pull-right">
                    <span class="badge" style="border: 1px solid #000; background-color: {{ note.color }}">{{ note.category }}</span>
                </span>                
            </li>
        </ul>

        <div class="text-center" style="position: absolute; bottom: 0; right: 0">
            <pagination-controls  (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </header>
</div>
