<div class="container">
    <header class="jumbotron" style="margin-top: 2em" *ngIf="rayon">
        <span class="text-center">
            <h2 class="mb-4" style="margin-top: -20px">{{ rayon.titre }}</h2>                       
        </span>

        <div class="offset-md-2 col-md-8">
            <form [formGroup]="rayonForm" (ngSubmit)="save()">
                <label class="ml-1">Libellé : </label>   
                <div class="form-group">                    
                    <input type="text" class="form-control" formControlName="titre" placeholder="Libellé">
                </div>
                
                <div class="form-group">      
                    <label class="ml-1">Catégorie : </label>                                  
                    <select class="form-control" formControlName="categories">
                        <option [ngValue]="null" disabled>Sélectionner une catégorie ...</option>
                        <option *ngFor="let categorie of categories" [ngValue]="categorie.id">{{ categorie.titre }}</option>
                    </select>
                </div>

                <div class="form-group">                    
                    <label class="ml-1">Couleur : </label>
                    <input type="color" class="form-control" style="padding: 0; margin: 0;" formControlName="couleur" placeholder="Couleur"><br><br>
                </div>

                <div class="form-group text-center">
                    <a class="btn btn-md btn-default mr-2" style="border: 1px solid #000" href="/rayons">
                        <i class="fa fa-arrow-left"></i> Retour
                    </a>
                    <button type="submit" class="btn btn-md btn-success"><i class="fa fa-save"></i> Enregistrer</button>
                </div>
            </form>
        </div>            

    </header>
    <header class="jumbotron" style="position: relative">
        <span class="text-center">
            <h5 class="mb-4" style="margin-top: -20px">Articles
                <span class="badge badge-pill badge-warning" style="padding: 5px; border: 2px solid #000">
                    <span *ngIf="articles?.length < 10 && articles?.length > 0">0</span>{{ articles?.length }}
                </span> 
            </h5>            
        </span>

        <ul class="list-group col-xs-12 offset-md-2 col-md-8 mb-5" style="padding: 0">
            <li class="list-group-item mb-5 text-center">
                <form [formGroup]="articleForm" (ngSubmit)="saveArticle()" class="form-inline">              
                    <div class="form-group col-10 bg-success" style="padding: 0;" >   
                        <input type="text" class="form-control w-100" formControlName="titreArticle" style="border-radius: 0;" placeholder="Nom de l'article">
                    </div>
    
                    <div class="form-group text-center col-2" style="padding: 0;">                
                        <button type="submit" class="btn btn-md btn-success form-control" style="border-radius: 0; width: 90%;"><i class="fa fa-plus"></i></button>
                    </div>
                </form>
            </li>

            <li class="list-group-item" *ngFor="let article of articles | paginate: { itemsPerPage: 5, currentPage: p }">
                {{ article.titre }}                                
                <span class="float-right">
                    <a class="text-danger" style="cursor: pointer" title="Retirer" (click)="deleteArticle(article.id);">
                        <i class="fa fa-close"></i>
                    </a>                    
                </span>
            </li>
        </ul>

        <div class="text-center" style="position: absolute; bottom: 0; right: 0">
            <pagination-controls  (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        </div> 

    </header>
    <header class="jumbotron">
        <p class="text-danger text-center"><b>Erreur : </b><i>PC maziane</i></p>
    </header>
</div>