<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Notehome</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">       

      <li class="nav-item">
        <a href="/articles" class="nav-link" *ngIf="isLoggedIn" routerLink="articles">Articles</a>
      </li>
      <li class="nav-item">
        <a href="/rayons" class="nav-link" *ngIf="isLoggedIn" routerLink="rayons">Rayons</a>
      </li>
      <li class="nav-item">
        <a href="/notes" class="nav-link" *ngIf="isLoggedIn" routerLink="notes">Notes</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a>
      </li>
    </ul>
  </nav>

  <div class="container bg-warning">
    <div class="col-12 p-4 mt-5 text-center" *ngIf="!isLoggedIn">      
      <ul id="demoHome">
        <li class="mb-3">Pour la démonstration :</li>
        <li>Utilisateur : <b>demo</b></li>
        <li>Mot de passe : <b>demo</b></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
