<div id="app">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav" id="myTopnav" >
    <a href="/" class="active" style="font-size: 1.2em;"><i class="fa fa-home"></i> <b>Notehome</b></a>

    <a href="/rayons" *ngIf="isLoggedIn"><i class="fa fa-list"></i> Rayons</a>
    <a href="/notes" *ngIf="isLoggedIn"><i class="fa fa-pencil"></i> Notes</a>

    <a href class="nav-link" style="float: right;" *ngIf="isLoggedIn" (click)="logout()"><i class="fa fa-sign-out"></i> <span class="hidden-xs">Déconnexion</span></a> 
    <a href="/profile" style="float: right;" *ngIf="isLoggedIn" routerLink="profile"><i class="fa fa-user"></i> {{ username }}</a>       
    
    <a href="/login" class="nav-link" style="float: right;" *ngIf="!isLoggedIn"><i class="fa fa-sign-in"></i> Connexion</a>
    <!--<a href="/register" class="nav-link" style="float: right;" *ngIf="!isLoggedIn"><i class="fa fa-pencil-square-o"></i> S'inscrire</a>-->

    <a href="javascript:void(0);" class="icon" (click)="toggleMenuNavbar()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="container bg-warning">
    <div class="lds-facebook" *ngIf="showLoading"><div></div><div></div><div></div></div>
    <div class="col-12 p-4 mt-5 text-center" *ngIf="!isLoggedIn">      
      <ul id="demoHome" style="margin-left: -2em;">
        <li class="mb-3">Pour la démonstration :</li>
        <li>Utilisateur : <b>demo</b></li>
        <li>Mot de passe : <b>demo</b></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
